@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,900');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #567788 0%, #121f25 100%) no-repeat center center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
}

.top nav {
    background: #eff4f7;
    margin: 40px;
    position: relative;
    z-index: 5;
    height: 80px;
}

.top nav a {
    text-decoration: none;
    color: #a4a8a9;
    padding-bottom: 24px;
}

.top nav ul {
    padding: 20px 20px 0 20px;
    float: right;
}

.top nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    border-bottom: 23px;
}

.top nav ul li:hover a {
    cursor: pointer;
    border-bottom: 3px solid #70e9ff;
    color: #333;
}

section.logo {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 550px;
    background: #ea3d51;
    width: 110px;
    height: 131px;
    margin: 20px;
}

section h1.brand {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #ffffff;
    margin-top: 95px;
}

.container {
    width: 90%;
    margin: 100px auto;
    background: #CBD0D9;
}

h1.book-title {
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

h5.book-genre {
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

/* done to here*/

section.pink-field {
    position: relative;
    z-index: 8;
    margin: 0 auto;
    color: #ffffff;
    width: 300px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #eb3c53 0%, #e6135c 100%) no-repeat center center;
}

section.pink-field img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80px;
    border-radius: 50%;
}

section.pink-field p:nth-of-type(2)::before, section p:nth-of-type(2)::after {
    content: ' " ';
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}

section p:first-of-type {
    font-size: 25px;
    margin: 10px;
}

button.btn {
    background: none;
    border: 3px solid #70ecff;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 25px;
}

button.btn:hover {
    background: #70ecff;
    border-color: #70ecff;
    color: #348098;
}

section.bottom {
    position: relative;
    z-index: 4;
    top: -250px;
    background: #ffffff;
    margin: 50px;
    padding: 250px 35px 35px 35px;
}

section.bottom h1 {
    color: #46ee97;
    font-size: 42px;
}

section.bottom p {
    width: 70%;
    font-size: 0.9em;
}

.last-btn {
    background: none;
    border: 3px solid #628291;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    padding: 10px 25px;
}

.last-btn:hover {
    background: #628291;
    cursor: pointer;
    color: #6dffb8;
}