* {
  margin: 0;
  padding: 0;
}

html {
  font: 15px Tahoma, Arial, sans-serif;
  color: #191923;
}

body {
  width: 1000px;
  margin: 0 auto;
  background: #cacac9;
}

/*navigation header*/

header {
  width: 1000px;
  background: #ffffff;
  height: 100px;
  margin: 50px 0;
}

nav ul {
  padding-left: 15px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #191923;
  line-height: 100px;
}

nav ul li:first-of-type a {
  color: #bf1363;
  text-transform: capitalize;
}

nav ul li:nth-of-type(2) a,
nav ul li:nth-of-type(3) a {
  text-transform: uppercase;
}

nav ul li a span.second-letter {
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #bf1363;
}

/*articles*/

article {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}

.first-article,
.second-article,
.third-article {
  margin-right: 8px;
}

img {
  width: 240px;
  height: 180px;
}

.main-section article > section {
  background: #ffffff;
  height: 120px;
}

.main-section article > section h1 {
  text-transform: uppercase;
  padding: 5px;
  margin-left: 10px;
}

.main-section article > section p {
  padding: 5px;
  margin-left: 10px;
}

article:hover {
  cursor: pointer;
  opacity: 0.8;
}
