* {
    margin: 0;
    padding: 0;
}

body {
    width: 890px;
    margin: 30px auto;
    border: 1px solid #a5b2b3;
    font-family: "Calibri Light", Verdana, sans-serif;
}

article {
    display: inline-block;
    width: 205px;
    vertical-align: top;
    padding: 0 5px;
}

h1 {
    text-align: center;
    padding: 15px;
}

img {
    width: 210px;
    height: 120px;
}

img:hover {
    opacity: 0.4;
}