body {
    margin: 0;
    padding: 0;
}

body {
    width: 610px;
    margin: 35px auto;

}

article {
    width: 280px;
    float: left;
    vertical-align: top;
    border: 1px solid #a5b2b3;
    padding: 5px;
    margin: 5px 5px;
    box-shadow: 3px 2px 4px #a5b2b3;
}

img {
    float: left;
}

h3, p {
    font-size: 13px;
    margin: 0;
}

div.date {
    font-size: 10px;
    color: #A192B0;
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}