@font-face {
  font-family: 'Lemon';
  src: url('fonts/Lemon-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lemon, Arial, sans-serif;
  background: #602d75;
}

.container {
  width: 900px;
  margin: 35px auto;
  background: #ffae32;
  border-radius: 20px;
}

h1 {
  text-transform: capitalize;
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}

article {
  display: inline-block;
  width: 220px;
  margin: 35px;
  background: #5f2056;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

img {
  width: 180px;
  border-radius: 50%;
  border: 5px solid #826a73;
  position: relative;
  left: 15px;
}

img:hover {
  border: 5px solid #fa4f00;
  cursor: pointer;
}

article h2 {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  padding: 5px;
}

article p {
  color: #ffae32;
  text-align: center;
  padding-bottom: 5px;
}

article h3 {
  color: #ffffff;
  font-size: 15px;
  padding-left: 15px;
}

button {
  border: 2px solid #8f9390;
  background: #ffffff;
  color: #9348ff;
  font-family: Lemon, sans-serif;
  text-align: center;
  padding: 5px 50px;
  border-radius: 15px;
  margin: 15px 10px;
  font-style: italic;
  position: relative;
  left: 5px;
}

button:hover {
  color: #000000;
  cursor: pointer;
}
