@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

aside {
  float: left;
  width: 15%;
}

aside h1 {
  font-size: 2.3rem;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

aside img {
  border-radius: 50%;
  width: 30%;
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

aside p {
  color: #dce4ea;
  text-transform: uppercase;
  text-align: center;
  font-family: ' Open Sans', sans-serif;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-type: none;
  border-left: 3px solid transparent;
  padding: 10px 20px;
}

nav ul li a {
  text-transform: uppercase;
  color: #c6ced5;
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 2px;
}

nav ul li:hover {
  cursor: pointer;
  border-left: 3px solid #f3ab85;
}

nav ul li:hover a {
  color: #797c80;
}

main {
  width: 75%;
  float: right;
  background: #f4f5f7;
  padding: 3%;
}

main > header {
  font-family: 'Open Sans', sans-serif;
  color: #727b7b;
  margin-bottom: 40px;
}

main > header span.number {
  color: #a8b6be;
}

main > header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee9166;
  padding: 12px;
  float: right;
  border-radius: 18px;
  margin-right: 45px;
}

main > header a:hover {
  background: none;
  color: #ee9166;
  border: 1px solid #ee9166;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.triple h3 {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.triple h4 {
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

article {
  display: inline-block;
  background: #ffffff;
  box-shadow: 8px 6px 17px -1px rgba(0, 0, 0, 0.26);
  margin: 0 20px;
}

article.rented-article {
  background: #fafbfd;
}

div.rented {
  text-transform: uppercase;
  color: #ffffff;
  background: #b6c4cc;
  padding: 5px 10px;
  border-radius: 30px;
  width: 72px;
  position: relative;
  top: 45px;
  left: -25px;
}

div.listed {
  text-transform: uppercase;
  color: #ffffff;
  background: #68bb69;
  padding: 5px 10px;
  border-radius: 30px;
  width: 72px;
  position: relative;
  top: 45px;
  left: -25px;
}

div.draft {
  text-transform: uppercase;
  color: #ffffff;
  background: #91a5ae;
  padding: 5px 10px;
  border-radius: 30px;
  width: 72px;
  position: relative;
  top: 45px;
  left: -25px;
}

.triple > article > p {
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
}
